@page "/special-bets-settle"
@inject HttpClient Http
@using Euro_2024_Management_System.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using System.Security.Claims
@attribute [Authorize]

<h3>Specjalne Zakłady</h3>

@if (specialBets == null || userSpecialBets == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Użytkownik</th>
                <th>Tytuł Zakładu</th>
                <th>Typ Użytkownika</th>
                <th>Zatwierdzony</th>
                <th>Rozliczony</th>
                <th>Wpisz punkty za typ:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userBet in userSpecialBets)
            {
                <tr>
                    <td>@userBet.ApplicationUserId</td>
                    <td>@ReturnTitle((int)userBet.SpecialBetId)</td>
                    <td>@userBet.UserBet</td>
                    <td>@IsApproved(userBet.Id)</td>
                    <td>@IsSettled(userBet.Id)</td>
                    <td>
                        @if (!IsSettledBool(userBet.Id) && userBet.IsApproved == true)
                        {
                            <EditForm Model="userBet" OnValidSubmit="() => HandleValidSubmit(userBet)">
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <InputNumber @bind-Value="returnSpecialUserBet(userBet.Id).Points" placeholder="Wprowadź punkty" />

                                <button class="btn btn-primary" type="submit">
                                    Zatwierdź
                                </button>
                            </EditForm>
                        }
                        else if (userBet.IsSettled == true && userBet.IsApproved == false)
                        {
                            <span>Zakład rozliczono - brak typu</span>
                        }
                        else if (userBet.IsSettled == true && userBet.IsApproved == true)
                        {
                            <span>Zakład rozliczono. Zdobyto: @userBet.Points pkt</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private SpecialBet[] specialBets;
    private UserSpecialBet[] userSpecialBets;

    protected override async Task OnInitializedAsync()
    {
        specialBets = await Http.GetFromJsonAsync<SpecialBet[]>("api/SpecialBets/specialBets");
        userSpecialBets = await Http.GetFromJsonAsync<UserSpecialBet[]>("api/SpecialBets/userSpecialBets");
    }

    private UserSpecialBet returnSpecialUserBet(int specialBetId)
    {
        return userSpecialBets.FirstOrDefault(x => x.Id == specialBetId);
    }

    private string ReturnTitle(int specialBetId)
    {
        var betTitle = specialBets.FirstOrDefault(x => x.Id == specialBetId);
        return betTitle.Title;
    }

    private string IsApproved(int specialBetId)
    {
        var userBet = userSpecialBets.FirstOrDefault(x => x.Id == specialBetId);
        return userBet?.IsApproved ?? false ? "Tak" : "Nie";
    }

    private string IsSettled(int specialBetId)
    {
        var userBet = userSpecialBets.FirstOrDefault(x => x.Id == specialBetId);
        return userBet?.IsSettled ?? false ? "Tak" : "Nie";
    }

    private bool IsSettledBool(int specialBetId)
    {
        var userBet = userSpecialBets.FirstOrDefault(x => x.Id == specialBetId);
        return userBet.IsSettled;
    }

    private async Task HandleValidSubmit(UserSpecialBet userBet)
    {
        if (true)
        {
            var response = await Http.PutAsJsonAsync($"api/SpecialBets/userSpecialBetsSettle/{userBet.Id}", userBet);

            if (response.IsSuccessStatusCode)
            {
                userSpecialBets = await Http.GetFromJsonAsync<UserSpecialBet[]>("api/SpecialBets/userSpecialBets");
                StateHasChanged();
            }
            else
            {
                Console.WriteLine("Błąd podczas aktualizacji zakładu");
            }
        }
    }
}
