@page "/table"
@using Euro_2024_Management_System.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
<h3>Tu tabela</h3>

@if(users == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
                <th>Punkty</th>
                <th>Prawidłowe wyniki</th>
                <th>Prawidłowe typy</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @if (users != null)
            {
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Age</td>
                        <td>@user.Points</td>
                        <td>@user.CorrectResults</td>
                        <td>@user.CorrectBets</td>
                        <td>@user.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}



@code {
    private ApplicationUser[]? users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await Http.GetFromJsonAsync<ApplicationUser[]>("api/User");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching users: " + ex.Message);
        }
    }
}
