@using Euro_2024_Management_System.Shared.Models

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Reprezentacja</th>
            <th class="text-center">Mecze</th>
            <th class="text-center">Wygrane</th>
            <th class="text-center">Remisy</th>
            <th class="text-center">Przegrane</th>
            <th class="text-center">Zdobyte bramki</th>
            <th class="text-center">Stracone bramki</th>
            <th class="text-center">Bilans bramkowy</th>
            <th class="text-center">Punkty</th>
        </tr>
    </thead>
    <tbody>
        @if (Teams != null)
        {
            @foreach (var team in Teams)
            {
                <tr>
                    <td class="align-middle text-center">@team.Name</td>
                    <td class="align-middle text-center">@(team.Wins + @team.Draws + @team.Losses)</td>
                    <td class="align-middle text-center">@team.Wins</td>
                    <td class="align-middle text-center">@team.Draws</td>
                    <td class="align-middle text-center">@team.Losses</td>
                    <td class="align-middle text-center">@team.GoalsScored</td>
                    <td class="align-middle text-center">@team.GoalsConceded</td>
                    <td class="align-middle text-center">@team.GoalBalance</td>
                    <td class="align-middle text-center">@team.Points</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public Team[] Teams { get; set; }
}