@using Euro_2024_Management_System.Shared.Models

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Gospodarz</th>
            <th class="text-center">Gość</th>
            <th class="text-center">Data</th>
            <th class="text-center">Godzina</th>
            <th class="text-center">Wynik</th>
            <th class="text-center">Rezultat</th>
            <th class="text-center">Czy zakończony?</th>
        </tr>
    </thead>
    <tbody>
        @if (Matches != null)
        {
            @foreach (var match in Matches)
            {
                <tr>
                    <td class="align-middle text-center">@ReturnTeamName(match.HomeTeamId)</td>
                    <td class="align-middle text-center">@ReturnTeamName(match.AwayTeamId)</td>
                    <td class="align-middle text-center">@match.MatchDate.ToString("dd.MM.yyyy")</td>
                    <td class="align-middle text-center">@match.MatchTime.ToString(@"hh\:mm")</td>
                    <td class="align-middle text-center">@ReturnScore(match.GoalsHome, match.GoalsAway)</td>
                    <td class="align-middle text-center">@match.Result</td>
                    <td class="align-middle text-center @(match.IsFinished ? "text-success" : "")">@(match.IsFinished ? "Tak" : "Nie")</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public Match[] Matches { get; set; }
    [Parameter]
    public Team[] Teams { get; set; }

    private string ReturnScore(int? homeGoals, int? awayGoals)
    {
        return $"{homeGoals}:{awayGoals}";
    }

    private string ReturnTeamName(int id)
    {
        var team = Teams.FirstOrDefault(x => x.Id == id);
        return team?.Name ?? "Nieznany";
    }
}